/* CSS STYLING */

body {
    width: 96%;
    padding: 5%;
}
.content {
    border: dashed 1px #4d4d4d;
    padding: 5%;
}

h1 {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}
h2 {
    font-size: 2em;
}
/* ==== DIV Styling ==== */

#rectangles {

}

#circle {

}

#path {


}

#curves {

}

#text {

}

#image {

}

#combo {

}

